{% extends 'Front/front.base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="section-title">Liste de vos demandes de permutation</h1>
                <table width="100%">
                    <thead>
                    <tr>
                        <th>Nom élève</th>
                        <th>Classe originale</th>
                        <th>Classe souhaitée</th>
                        <th>Date</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for permutation in permutations %}
                        <tr>
                            <td>{{ permutation.eleve.nom }}</td>
                            <td>{{ permutation.eleve.classedeseleves.libelle }}</td>
                            <td>{{ permutation.classeS }}</td>
                            <td>{% if permutation.date %}{{ permutation.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ permutation.etat }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('permutationinfo', { 'id': permutation.id }) }}">Afficher</a>
                                    </li>
                                    <li>
                                        {% if permutation.etat=='non traitee' %}
                                        <a href="{{ path('permutationsupp', { 'id': permutation.id }) }}">Supprimer</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <br/>
                <a href="{{ path('permutationnew', { 'parent': app.user.id }) }}" class="btn">Envoyer une demande de permutation</a>
            </div>
        </div>
    </div>
{% endblock %}