{% extends 'Back/base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock header  %}

    {% block sideBar %}
        {{ parent() }}
    {% endblock  sideBar %}

    {% block container %}
        {{ parent() }}
    {% endblock container %}

    {{ form_start(edit_form,{'attr': {'novalidate': 'novalidate' }}) }}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Modifier Salle </strong>
                        </div>
                        <div class="card-body card-block">
                            <div action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                            </div>
                            <div class="row form-group">
                                {{ form_label(edit_form.libelle) }}
                                <div class="col-12 col-md-9">

                                    {{ form_widget(edit_form.libelle,{ 'attr': {'class': 'form-control'}} )}}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <input  class="au-btn au-btn-icon au-btn--green au-btn--small" type="submit" value="Modifier" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a class="btn btn-info" href="{{ path('salle_index') }}">Retourner à la liste </a>
            </li>

        </ul>
        {% endblock %}


