{% extends "Back/base.html.twig" %}
{% block title %}Gestion Clubs{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock stylesheets %}

    {% block header %}
        {{ parent() }}
    {% endblock header %}

    {% block sideBar %}
        {{ parent() }}
    {% endblock  sideBar %}

    {% block container %}
        {{ parent() }}
    {% endblock container %}


    <div class="main-content">
        <h1 style="position: absolute;right: 31%">Create Your Club</h1>
        <br/><br/>
        <br/>
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center title-2">Club</h3>
                    </div>
                    <hr>
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">Nom Club</label>
                        <span class="form-control">
                    {{ form_widget(form.nomclub, { 'attr': {'class': "size20",'placeholder': "nom club"} }) }}</span>
                    </div>
                    <div class="form-group">
                        <label for="cc-name" class="control-label mb-1">Responsable</label>
                        <span class="form-control">{{ form_widget(form.User, { 'attr': {'size':"1",'class': ""} }) }}</span>
                    </div>

                    <div class="form-group">
                        <label for="cc-name" class="control-label mb-1">Logo</label>
                        <span class="form-control">{{ form_widget(form.file) }}</span>
                    </div>
                    <div>
                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" style="background-color: #63c76a">
                            <i class="fa fa-"></i>&nbsp;
                            <span id="payment-button-amount">Create</span>
                            <span id="payment-button-sending" style="display:none;">Sending…</span>
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>



            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                    <tr bgcolor="#f5deb3">
                        <th>Nom du club</th>
                        <th>Responsable du club</th>
                        <th>LOGO </th>
                        <th colspan="2 ">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr-shadow">
                    <tr class="spacer"></tr>

                    {% for c in club %}
                        <tr class="tr-shadow">

                            <td class="main-content">{{ c.nomclub }}</td>
                            <td class="main-content">{{ c.user }}</td>
                            <td><img src="{{ asset('images/') }}{{ c.nomImage }}" style="width: 50px;height: 50px"></td>
                            <td><a href="{{ path('update',{"id":c.id}) }}">update <i class="zmdi zmdi-edit"></i></a>
                            </td>
                            <td class="main-content"><a href="{{ path('delete',{"id":c.id}) }}">delete <i
                                            class="zmdi zmdi-delete"></i></a></td>
                        </tr>

                    {% endfor %}

                    <tr class="spacer"></tr>
                    </tbody>
                </table>
                {# display navigation #}
                <br/> <br/>
                <div class="navigation">
                    {{ knp_pagination_render(club) }}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
{% endblock body %}
