{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sanction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sanction.id }}</td>
            </tr>
            <tr>
                <th>Date_sanction</th>
                <td>{% if sanction.datesanction %}{{ sanction.datesanction|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Raisonsanction</th>
                <td>{{ sanction.raisonsanction }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{% if sanction.etat %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sanctions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sanctions_edit', { 'id': sanction.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
