{% extends 'back/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}




    {% block course %}


        <h1>course list</h1>
        <div class="main-content">

                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>nom</th>
                            <th>description</th>
                            <th>Contenu</th>
                            <th>type d'intelligence</th>

                            <th>Niveau</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}


                                <td><a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.id }}</a></td>
                                <td>{{ course.nom }}</td>
                                <td>{{ course.description }}</td>
                                <td>{{ course.contenu }}</td>
                                <td>{{ course.typeIntelligence }}</td>
                                <td>{{ course.niveau }}</td>


                            <tr class="spacer"></tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    {% endblock course %}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}