{% extends 'back/base.html.twig' %}

{% block body %}


{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}


    {% block header %}
        {{ parent() }}
    {% endblock header  %}

    {% block sideBar %}
        {{ parent() }}
    {% endblock  sideBar %}

    {% block container %}
        {{ parent() }}
    {% endblock container %}


{% block mainForm %}
{{ form_start(form) }}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Ajouter Test</strong> Form
                        </div>
                        <div class="card-body card-block">
                            <div action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                            </div>
                            <div class="row form-group">
                                {{ form_label(form.question) }}
                                <div class="col-12 col-md-9">

                                    {{ form_widget(form.question,{ 'attr': {'class': 'form-control'}} )}}

                                </div>
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.reponse) }}
                                <div class="col-12 col-md-9">

                                    {{ form_widget(form.reponse,{ 'attr': {'class': 'form-control'}} )}}

                                </div>

                            </div>

                            <div class="row form-group">
                                {{ form_label(form.typeIntell) }}
                                <div class="col-12 col-md-9">

                                    {{ form_widget(form.typeIntell,{ 'attr': {'class': 'form-control'}} )}}

                                </div>
                            </div>
                            </div>





                        </div>
                    </div>
                </div>

            </div>
        </div>

        <input class="au-btn au-btn-icon au-btn--green au-btn--small" type="submit" value="Create" />
        {{ form_end(form) }}
        {% endblock %}
        <ul>
            <li>
                <a href="{{ path('test_index') }}">Back to the list</a>
            </li>
        </ul>
        {% endblock %}
