{% extends 'base.html.twig' %}
{% block title %} Page Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock header  %}

    {% block sideBar %}
        {{ parent() }}
    {% endblock  sideBar %}

    {% block container %}
        {{ parent() }}
    {% endblock container %}

    {% block admin %}

<h1>Welcome to the Admin page</h1>

{% endblock admin %}

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}