{% extends 'Front/front.base.html.twig' %}

{% block title %}Page PARENT{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
<h1>Page PARENT</h1>

{#  <div class="container">
        <table border="1px solid black" style="position: center;background-color: #ffffff; width: 100%;">
            {% for s in son %}
            <tr>
                <th>Id</th>
                <td >{{ s.id }}</td>
            </tr>
            <tr>
                <th> Nom et prénom </th>
                <td >{{ s.nom }}  {{ s.prenom }} </td>
            </tr>

            <tr>
                <th>Classe </th>
                <td >{{ s.libelle }}</td>
            </tr>




                {% endfor %}

</table>
</div> #}


{% endblock %}
