{% extends "Back/base.html.twig" %}
{% block title %}Gestion Activité{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock stylesheets %}

    {% block header %}
        {{ parent() }}
    {% endblock header %}

    {% block sideBar %}
        {{ parent() }}
    {% endblock  sideBar %}

    {% block container %}
        {{ parent() }}
    {% endblock container %}


    <div class="main-content">
        <h1 style="position: absolute;right: 27%">Create Your Activity</h1>
        <br/><br/>
        <br/>
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center title-2">Activity</h3>
                    </div>
                    <hr>
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">Nom Activité</label>
                        <span class="form-control">
                    {{ form_widget(form.nomActivite, { 'attr': {'class': "size20",'placeholder': "nom Activité"} }) }}</span>
                    </div>
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">Type Actvité</label>
                        <span class="form-control">
                    {{ form_widget(form.typeActivite, { 'attr': {'class': "size20",'placeholder': "Type"} }) }}</span>
                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1">Responsable Activité</label>
                            <span class="form-control">
                    {{ form_widget(form.User, { 'attr': {'class': "size20",'placeholder': "Responsable"} }) }}</span>
                    </div>



                    <div>
                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block"
                                style="background-color: #63c76a">
                            <i class="fa fa-"></i>&nbsp;
                            <span id="payment-button-amount">Create</span>
                            <span id="payment-button-sending" style="display:none;">Sending…</span>
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

            </div>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                    <tr bgcolor="#f5deb3">
                        <th>Nom d'Activity</th>
                        <th>Type d'Activity</th>
                        <th>Responsable</th>
                        <th>Rating</th>
                        <th colspan="2 ">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr-shadow">
                    <tr class="spacer"></tr>

                    {% for c in Activity %}
                        <tr class="tr-shadow">

                            <td class="main-content">{{ c.nomActivite }}</td>
                            <td class="main-content">{{ c.typeActivite }}</td>
                            <td class="main-content">{{ c.User }}</td>
                            <td class="main-content">{{ c.vote }}</td>
                            <td><a href="{{ path('updateActivity',{"id":c.id}) }}">update <i class="zmdi zmdi-edit"></i></a>
                            </td>
                            <td class="main-content"><a href="{{ path('deleteActivity',{"id":c.id}) }}">delete <i
                                            class="zmdi zmdi-delete"></i></a></td>
                        </tr>

                    {% endfor %}

                    <tr class="spacer"></tr>
                    </tbody>
                </table>
                {# display navigation #}
                <br/> <br/>

            </div>
        </div>
    </div>
    <br/>
    <br/>
{% endblock body %}
