{% extends 'Back/base.html.twig' %}

{% block body %}


{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}


    {% block header %}
        {{ parent() }}
    {% endblock header  %}

    {% block sideBar %}
        {{ parent() }}
    {% endblock  sideBar %}

    {% block container %}
        {{ parent() }}
    {% endblock container %}


{% block mainForm %}

    {{ form_start(form) }}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Ajouter Matiere</strong> Form
                        </div>
                        <div class="card-body card-block">
                            <div action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                            </div>
                            <div class="row form-group">
                                {{ form_label(form.niveau) }}
                                <div class="col-12 col-md-9">

                                    {{ form_widget(form.niveau,{ 'attr': {'class': 'form-control'}} )}}

                                </div>
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.matiere) }}
                                <div class="col-12 col-md-9">

                                    {{ form_widget(form.matiere,{ 'attr': {'class': 'form-control'}} )}}

                                </div>

                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">{{ form_label(form.valeur) }}</label>

                                </div>
                                <div class="col-12 col-md-9">
                                    {{ form_widget(form.valeur,{ 'attr': {'class': 'form-control'}} )}}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <input class="au-btn au-btn-icon au-btn--green au-btn--small" type="submit" value="Creer" />
        {{ form_end(form) }}
        {% endblock %}

    <ul>
        <li>
            <a class="btn btn-info" href="{{ path('coeff_index') }}">Retourner à la liste </a>
        </li>
    </ul>
{% endblock %}
